In [9]:
import pandas as pd

df = pd.read_csv('gt_courses.csv')

df.head()

,code,title,credits,description,prerequisites
0,ACCT 2101,Accounting I: Financial Accounting,3,A study of the underlying theory and applicati...,NaN
1,ACCT 2102,Accounting II: Managerial Accounting,3,A study of the underlying theory and applicati...,NaN
2,AE 1355,Aerospace Systems Design Competition I,3,Team-oriented aerospace systems design project...,NaN
3,AE 1601,Introduction to Aerospace Engineering,1,Overview of aerospace engineering. Common term...,Credit restriction: AE 1601 and; Credit restri...
4,AE 1750,Introduction to Bioengineering,3,An introduction to the field of bioengineering...,NaN

In [11]:
# df = df[df['subject'] == 'MATH']
df = df[df['code'].str.contains('MATH')]

In [12]:
df.to_csv('gt_spring_2025_math.csv', index=False)